/* CSS Document */
body
{
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
}
a.links
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}
a.links:hover
{
	color:Yellow;
}

a.Services
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	text-align:left;
	font-weight:bold;
	text-decoration:none;		
}
a.Services:hover
{
	color:#000000;
}
.subheadtxt {
	font-family:Trebuchet MS;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding-left: 8px;
}

.txt
{
	font-family:Trebuchet MS;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	text-align:justify;
	line-height:20px;
}
.Linktxt
{
	font-family:Arial;
	font-size:11px;
	color:#646464;
	text-decoration:none;
	text-align:left;
	line-height:20px;
	font-weight:bold;
	cursor:pointer;	
}
.Linktxt:hover
{
	color:#000000;	
}
.Linktxt2
{
	font-family:Arial;
	font-size:11px;
	color:#646464;
	text-decoration:none;
	text-align:left;
	line-height:20px;
	font-weight:bold;
	cursor:pointer;	
}
.Linktxt2:hover
{
	color:#000000;	
}
.SideLink
{
	font-family:Arial;
	font-size:11px;
	color:#646464;
	text-decoration:none;
	text-align:left;
	line-height:20px;
	font-weight:bold;
	cursor:pointer;	
}
.sideLink:hover
{
	color:#000000;	
}
.ImageTxt
{
	font-family:Arial;
	font-size:13px;
	color:#000000;
	text-decoration:none;
	text-align:left;	
	font-weight:bold;		
}
.powered a{
	color: #FFFFFF;
	text-decoration: none;
}

.InsideLinktxt
{
	font-family:Arial;
	font-size:11px;
	color:#646464;
	text-decoration:none;
	text-align:left;
	line-height:20px;
	font-weight:bold;
	cursor:pointer;
	background-image:url(../Images/Arrow.jpg);
	background-position:left;
	background-repeat:no-repeat;
}
.InsideLinktxt:hover
{
	color:#000000;	
}
.BannerHead
{
	font-family:Arial;
	font-size:13px;
	color:#343331;
	font-weight:bold;
	padding-left:42px;
}
.txtHead
{
	font-family:Trebuchet MS;
	font-size:14px;
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	text-align:justify;
	line-height:20px;
}
.copy
{
	font-family:Trebuchet MS;
	font-size:12px;
	color:#646464;
	text-align:center;
	padding-top:5px;
}
.textbox
{
	font-family:Trebuchet MS;
	font-size:12px;
	color:#646464;	
	border:1px solid #798044;
	height:16px; 
	width:250px;
}
.Gridtxt
{
	font-family:Trebuchet MS;
	font-size:12px;
	color:#646464;
	text-decoration:none;
	text-align:justify;
	line-height:20px;
	padding:5px;
}
.Gridheadertext
{
	font-family:Trebuchet MS;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	text-align:left;	
	padding:5px;
	background-color:#F3F3F3;
}
/* custom css*/
.contentcenter{
	padding-right: 5px;
	padding-left: 8px;
	margin-bottom: 10px;
	}
	.divborder {
	background-image: url(Images/Verti_Border.jpg);
	background-repeat: repeat-y;
}
    .footermenu {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
    .footermenu ul {
	list-style-type: none;
	float: left;
}
.footermenu ul li{
 float:left;
}
    .footermenu ul li a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	width: 145px;
	display: block;
}
    .footermenu ul li a:hover{
	color: #55645D;
}
.pagelist{
	margin-bottom: 15px;
}
.pagelist ul{
	margin: 0px;
	padding-left: 20px;
}
.pagelist ul li{
	font-family:Trebuchet MS;
	font-size:12px;
	color:#646464;
	text-decoration:none;
	text-align:justify;
	line-height:20px;
}
